<style>
    .event_box{
        border-radius: 10px;
        background-color: rgb(255, 69, 69);
        color: white;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .event_main_box{
        border: 1px solid rgba(0, 0, 0, 0.3);

    }
</style>

<div class="event_main_box">
    <div class="text-center"><b>{{date}} तारीख {{event_count}} ठिकाणी बुक</b></div>
    {% for e in event %}
        <div class="event_box">
            <div style="display: flex;gap: 20px;justify-content: center;">
                <div>{{e.event_day}}</div>
                <div>Booked By - {{e.office_employee.name}}</div>
            </div>
            <div style="display: flex;gap: 20px;justify-content: center;">
                <div>{{e.party_name}}</div>
                <div>Persons Day - {{e.persons_day}}</div>
                <div>Persons Night - {{e.persons_night}}</div>
            </div>
            <div>{{e.location}}</div>
        </div>
    {% endfor %}
</div>